<html>
    <head>
        <title>Congo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    </head>
    <style>
body.margins{
  margin: 20px;

}
</style>

  <body class="margins">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Congo</a>


      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
      </div>
    </nav>


<br>
<div class="container">


<div class="row justify-content-center">
<a href="/profile/{{name}}/deleteitem/" class="btn btn-primary btn-lg btn-success active mr-3" role="button" aria-pressed="true">Manage Listings</a>


<a href="/profile/{{name}}/newitem/" class="btn btn-primary btn-lg btn-success active mr-3" role="button" aria-pressed="true">Create New Listings</a>
</div>
<hr>



<div class="row">
  {% for l in data %}
<div class="col-md-4">
	<figure class="card card-product">
    <div align = "center">
		<div class="img-wrap"><img src="https://s3.amazonaws.com/gp4emdrsinus/dbstuff/basketball.jpg"></div>
		<figcaption class="info-wrap">
				<h4 class="title">{{l.name}}</h4>
				<p class="desc">{{l.desc}}</p>
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
    </align>
		<div class="bottom-wrap">
			<div class="price-wrap h5">
				<span class="price-new">${{l.price}}</span>
			</div> <!-- price-wrap.// -->

      <div class="row justify-content-center">
        <a href="/profile/{{name}}/updateitem/{{l.id}}/" class="btn btn-sm btn-success mr-3"">Update</a>
        <a href="/profile/{{name}}/deleteitem/{{l.id}}/" class="btn btn-sm btn-danger float-right">Delete</a>
      </div>
      <br>
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
{% endfor %}

</div> <!-- row.// -->



</div>
<!--container.//-->




  </body>

</html>
