{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;"> Welcome to Hoos House Dashboard</h1>
<div style = "width:600px;margin:0 auto;align:center">
</div>
<table id = "tenants" class = 'table table-striped'>
  <thead>
  <tr>
    <th scope = "col">
      Computing ID
    </th>
    <th scope = "col">
      Tenant's Name
    </th>
    <th scope = "col">
      Permanent Address
    </th>
    <th scope = "col">
      Current Address
    </th>
    <th scope = "col">
      Email Address
    </th>
    <th scope = "col">
Update    </th>
    <th scope = "col">
Delete    </th>
  </tr>
</thead>
<tbody>

{% for tenant in data %}
<tr>
<td>
  {{tenant.computing_id}}
</td>
<td>
  {{tenant.name}}
</td>
<td>
  {{tenant.perm_address}}
</td>
<td>
  {{tenant.cur_address}}
</td>
<td>
  {{tenant.email_address}}
</td>
<td>
  <button><a href = "/tenant/update/{{tenant.computing_id}}">Update</a></button>
</td>
<td>
  <button><a href = "/tenant/delete/{{tenant.computing_id}}">Delete</a></button>
</td>
</tr>
  {% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $("#tenants").DataTable();
});
</script>

{% endblock %}
