{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;"> Welcome to Hoos House Dashboard</h1>
<div style = "width:600px;margin:0 auto;align:center">
</div>
<table class = 'table table-striped'>
  <thead>
  <tr>
    <th scope = "col">
      Building Name
    </th>
    <th scope = "col">
      Address
    </th>
    <th scope = "col">
      Available Units
    </th>
  </tr>
</thead>
<tbody>

{% for available_apt in data %}
<tr>
  <td>
    {{available_apt.building_name}}
  </td>
<td>
  {{available_apt.address}}
</td>
<td>
  {{available_apt.count}}
</td>
</tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
