{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;"> Welcome to Hoos House Dashboard</h1>
<div style = "width:600px;margin:0 auto;align:center">
</div>
<table id="leases" class = 'table table-striped'>
  <thead>
  <tr>
    <th scope = "col">
      Computing ID
    </th>
    <th scope = "col">
      Apt Address
    </th>
    <th scope = "col">
      Apt Number
    </th>
    <th scope = "col">
      Rent
    </th>
    <th>
      Term
    </th>
    <th>
      Delete
    </th>
  </tr>
</thead>
<tbody>

{% for lease in data %}
<tr>
  <td>
    {{lease.computing_id}}
  </td>
<td>
  {{lease.apt_address}}
</td>
<td>
  {{lease.apt_number}}
</td>
<td>
  {{lease.rent_amount}}
</td>
<td>
  {{lease.term}}
</td>
<td>
  <button><a href = "/lease/delete/{{lease.computing_id}}">Delete</a></button>
</td>
</tr>
  {% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
  $("#leases").DataTable();
});
</script>

{% endblock %}
