{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;"> Welcome to Hoos House Dashboard</h1>
<div style = "width:600px;margin:0 auto;align:center">
</div>
<table id ="units" class = 'table table-striped'>
  <thead>
  <tr>
    <th scope = "col">
      Address
    </th>
    <th scope = "col">
      Apartment Number
    </th>
    <th scope = "col">
Occupied    </th>
    <th scope = "col">
      Furnished
    </th>
    <th>
      Sq. Footage
    </th>
    <th>
      Bathrooms
    </th>
    <th>
      Bedrooms
    </th>
    <th>
      internet
    </th>
    <th>
      Laundry
    </th>
    <th>
      Kitchen
    </th>
    <th>
      Lease
    </th>
    <th>
      Update
    </th>
    <th>
      Delete
    </th>
  </tr>
</thead>
<tbody>

{% for unit in data %}
<tr>
<td>
  {{unit.address}}
</td>
<td>
  {{unit.apt_number}}
</td>
<td>
  {{unit.occupied}}
</td>
<td>
  {{unit.furnished}}
</td>
<td>
  {{unit.sq_footage}}
</td>
<td>
  {{unit.num_bathrooms}}
</td>
<td>
  {{unit.num_bedrooms}}
</td>
<td>
  {{unit.internet}}
</td>
<td>
  {{unit.laundry}}
</td>
<td>
  {{unit.kitchen}}
</td>
<td>
  {%if unit.occupied == 'no' or unit.occupied == 'no ' %}
  <button><a href = "/units/lease/{{unit.address}}/{{unit.apt_number}}">Lease</a></button>
  {% endif %}
</td>
<td>
  <button><a href = "/units/update/{{unit.address}}/{{unit.apt_number}}">Update</a></button>
</td>
<td>
  <button><a href = "/units/delete/{{unit.address}}/{{unit.apt_number}}">Delete</a></button>
</td>
</tr>
  {% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $("#units").DataTable();
});
</script>

{% endblock %}
